```html
<div class="thumbnails-container flex flex-wrap justify-center">
  <!-- Thumbnail 1 -->
  <div class="thumbnail-card m-4">
    <a href="video_detail.html">
      <img src="assets/video_thumbnail_1.png" alt="Video Thumbnail 1" class="thumbnail-image">
      <div class="thumbnail-metrics text-white">
        <p>Views: 5000</p>
        <p>Likes: 1200</p>
        <p>Comments: 300</p>
      </div>
    </a>
  </div>

  <!-- Thumbnail 2 -->
  <div class="thumbnail-card m-4">
    <a href="video_detail.html">
      <img src="assets/video_thumbnail_2.png" alt="Video Thumbnail 2" class="thumbnail-image">
      <div class="thumbnail-metrics text-white">
        <p>Views: 3000</p>
        <p>Likes: 800</p>
        <p>Comments: 150</p>
      </div>
    </a>
  </div>

  <!-- Add more thumbnails as needed -->
</div>
```